
*{
    margin: 0;
    padding: 0;
}

.recipes{
    display: flex;
    /* flex-direction: row; */
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: space-around;
    background-image: url('./img/background-recipes.jpg');
    background-size: cover;
    background-position: center;
    
}