/* input[type='text'],
input[type='number'],
textarea {
    border: thin solid #dedede;
    border-radius: 0.25rem;
    padding: 0.75rem;
    margin-bottom: 1rem;
    outline: none;
    display: block;
    width: 80%;
    font-size: 1rem;
    line-height: 1;
    background-color: transparent;
} */

textarea {
    font-family: inherit;
    resize: none;
}

.createRecipe-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 600px;
    margin: 0 auto;
    border: 2px solid #000;
}

.createRecipe-container input[type='text'],
.createRecipe-container input[type='number'],
.createRecipe-container textarea {
    border: thin solid #dedede;
    border-radius: 0.25rem;
    padding: 0.75rem;
    margin-bottom: 1rem;
    outline: none;
    display: block;
    width: 80%;
    font-size: 1rem;
    line-height: 1;
    background-color: transparent;
}