input[type='text'], input[type='number'], textarea {
    border: thin solid #dedede;
    border-radius: 0.25rem;
    padding: 0.75rem;
    margin-bottom: 1rem;
    outline: none;
    display: block;
    width: 80%;
    font-size: 1rem;
    line-height: 1;
    background-color: transparent;
}

textarea{
    font-family: inherit;
    resize: none;
}

